
.hightlights{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    position: relative;
  }
  
  .hightlights h2{
  
    left: 380px;
  }
  
  .hightlights button{
  
    right: 400px;
  }