

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #edefee;

}


.nav-top {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.nav-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;



}

.nav-top li{
   padding-left: 30px;
   padding-right: 30px;

}

.nav-top a{
  color: #333333;
  text-decoration: none;
  font-weight: 500;
}
.logo-top{
  width: 200px;
}


.hero{
  background-color: #495E57;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 25px;
  

}

.hero div{
  margin-right: 14vw;
}

.hero h1{
  color: #f4ce14;
  position: relative;
  font-size: 40pt;
  line-height: 0;
}

.hero h2,p{
  color: #edefee;
  min-width: 20vw;
  padding: 10px;
  
}
.hero h2{
  line-height: 0;
  font-size: 18pt;
}
.hero p{
  font-size: 16pt;
  width: 280px;
  /* padding-right: 400px; */
  line-height: 1.5;
  max-width: 65ch;
}

button{
  width: 150px;
  padding: 10px;
  border-radius: 16px;
  background-color: #f4ce14;
  font-weight: bold;
  border: none;
}



.hero img{
  /* position: fixed; */
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
  margin: 20px;
  /* margin-left: 400px;
  margin-top: 40px; */

}

.hightlights{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  position: relative;
}

.hightlights h2{

  left: 380px;
}

.hightlights button{

  right: 400px;
}